<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button data-target="#navdrawerPersistent" data-toggle="navdrawer" data-type="persistent" type="button" class="btn btn-flat">
            <i class="material-icons">menu</i>
        </button>
        <%= link_to 'Chimp Up', root_path, class: 'navbar-brand'%>
        <div aria-hidden="true" class="navdrawer navdrawer-persistent sobre-poner" id="navdrawerPersistent" tabindex="-1">
            <div class="navdrawer-content">
                <div class="navdrawer-header">
                    <a href="">
                        <i class="material-icons">close</i>
                        <a href="" class="navbar-brand black-text">Chimp Up</a>
                    </a>
                </div>
                <% if user_signed_in? %>
                    <p class="navdrawer-subheader">Mi empresa</p>
                    <ul class="navdrawer-nav">
                        <li class="nav-item">
                            <%= link_to root_path, class: 'nav-link active' do %>
                                <i class="material-icons mr-3">shopping_cart</i>Pedidos
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <%= link_to products_path, class: 'nav-link' do %>
                                <i class="material-icons mr-3">shopping_basket</i>Mis Productos
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <%= link_to clients_path, class: 'nav-link' do %>
                                <i class="material-icons mr-3">face</i>Mis Clientes
                            <% end %>
                        </li>
                    </ul>
                    <div class="navdrawer-divider"></div>
                    <p class="navdrawer-subheader">Configuracion</p>
                    <ul class="navdrawer-nav">
                        <li class="nav-item">
                            <%= link_to current_user.company, class: 'nav-link' do %>
                                <i class="material-icons mr-3">store</i>Mi perfil
                            <% end %>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="material-icons mr-3">help</i>Ayuda</a>
                        </li>
                        <li class="nav-item active">
                            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link active' do %>
                                <i class="material-icons mr-3">power_settings_new</i>Cerrar Sesión
                            <% end %>
                        </li>
                    </ul>
                <% else %>
                    <p class="navdrawer-subheader">Productos</p>
                    <ul class="navdrawer-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#"><i class="material-icons mr-3">dashboard</i>Categorías</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="material-icons mr-3">store</i> Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="material-icons mr-3">copyright</i> Sobre Nosotros</a>
                        </li>
                        <div class="top-space center-xs">
                            <%= link_to 'Iniciar Sesión', new_user_session_path, class:'btn btn-primary' %>
                        </div>
                    </ul>
                <% end %>
            </div>
        </div>
    </nav>
</header>
