<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <div class="floating-label">
          <%= form.label 'Nombre del cliente', for: 'NombreProducto' %>
          <%= form.text_field :name, class: 'form-control', id: 'NombreCliente'%>
          <small id="textoNombreProducto" class="form-text text-muted">Este campo es obligatorio</small>
          <div class="">

          </div>
      </div>
  </div>

  <div class="form-group">
      <div class="floating-label">
          <%= form.label 'Direccion', for: 'NombreProducto' %>
          <%= form.text_field :address, class: 'form-control', id: 'NombreProducto'%>
      </div>
  </div>

  <div class="form-group">
      <div class="floating-label">
          <%= form.label 'Telefono', for: 'NombreProducto' %>
          <%= form.text_field :phone, class: 'form-control', id: 'NombreProducto'%>
      </div>
  </div>

  <div class="top-space">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
