<div class="row center-xs black">
    <div class="col-xs-12">
        <div class="box big-padding">
            <h1 class="white-text pacifico-font">Productos</h1>
        </div>
    </div>
</div>
<div class="row center-xs top-space">
    <div class="col-xs-12 col-sm-10">
        <div class="box">
            <div class="">
                <div class="row">
                    <% @products.each do |product|%>
                        <div class="col-xs-10 col-sm-6 col-md-6  col-lg-3 top-space">
                            <div class="box">
                                <div class="card">
                                    <%= image_tag product.avatar.url(:medium), class: 'card-img-top'%>
                                    <div class="card-body">
                                        <h4 class="card-title"><%= product.name.truncate(17) %></h4>
                                        <h5 class="card-title">Q. <%= product.sale_price %></h5>
                                        <p class="card-text"><%= product.description.truncate(50) %></p>
                                    </div>
                                    <div class="card-actions">
                                        <%= link_to 'Ver Producto', product, class: 'btn btn-outline-primary'%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
