<div class="full-height row middle-xs white-text center-xs main-back no-margin">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
        <div class="box">
            <div class="big-padding card relative border-round">
                <div class="bg-primary white-text absolute card" style="position:relative; top:-50px; padding:10px;">
                    <h2 class="no-margin big-font pacifico-font">Iniciar Sesión</h2>
                    <p>Control total de tu negocio y comunicación con tus clientes</p>
                </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group floating-label">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="form-group floating-label">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
                  </div>

                  <% if devise_mapping.rememberable? %>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  <div class="actions">
                    <%= f.submit "ingresar", class: 'btn btn-secondary' %>
                  </div>
                <% end %>
                <div class="top-space">
                    <%= render "devise/shared/links" %>
                </div>

            </div>
        </div>
    </div>
</div>
