<%= form_with(model: brand, local: true) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <div class="floating-label">
          <%= form.label 'Nombre' %>
          <%= form.text_field :name, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <div class="floating_label">
          <%= form.label 'Descripción' %>
          <%= form.text_area :description, class: 'form-control' %>
      </div>
  </div>

  <div class="top-space">
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
