<div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-lg-8">
        <div class="box">
            <div class="card">
                <div class="">
                    <%= image_tag @product.avatar.url(:medium), class:'card-img-top', style:'width:300px;height:300px;'%>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><%= @product.name %></h4>
                    <p class="card-text">
                        <ul class="list-group text-justify">
                            <li class="list-group-item list-group-item-light"><strong>Precio de venta: </strong><%= @product.sale_price %></li>
                            <li class="list-group-item list-group-item-light"><strong>Precio de compra:</strong><%= @product.cost_price %></li>
                            <li class="list-group-item list-group-item-light"><strong>Estado:</strong><%= @product.state %></li>
                            <li class="list-group-item list-group-item-light"><strong>Precio de oferta: </strong><span><%= @product.offer_price %></span></li>
                            <li class="list-group-item list-group-item-light"><strong>Descripción: </strong><span><%= @product.description %></span></li>
                        </ul>
                    </p>
                </div>
                <div class="card-actions">
                    <%= link_to edit_product_path(@product), class: 'btn btn-outline-primary' do %>
                        <i class="material-icons">create</i>Editar
                    <%end%>

                    <%=link_to product_path(id: @product.id, client: true), class: 'btn btn-outline-primary' do %>
                        <i class="material-icons margin-right">face</i><span>Ver como cliente</span>
                    <%end%>

                    <%= link_to @product, method: :delete, :"data-confirm" => 'estas seguro de elimiar el archivo?', class: 'btn btn-outline-primary' do %>
                        <i class="material-icons">clear</i>Eliminar
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row top-space center-xs">
    <div class="col-xs-12 col-sm-10 col-lg-8">
        <div class="box">
            <div class="big-padding white">
                <h2 class="">Imagenes</h2>
                <ol class="list-group">
                    <% @product.attachments.each do |attachment|%>
                        <li class="top-space list-group-item list-group-item-primary">
                            <%= attachment.archivo_file_name%>
                                <%= link_to attachment, method: :delete, :"data-confirm" => 'estas seguro de elimiar el archivo?', class: 'red-text' do %>
                                    <i class="material-icons">clear</i>
                                <%end%>
                        </li>
                    <%end%>
                </ol>
                <div class="top-space">
                    <%= render 'attachments/form', product_id: @product.id %>
                </div>
            </div>
        </div>
    </div>
</div>
