<div class="row center-xs">
    <div class="col-xs-12 col-sm-10 col-lg-8">
        <div class="box">
            <div class="card">
                <div class="card-header d-flex pr-0">
                    <h5 class="card-title mb-0">Mis productos</h5>
                </div>
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio de venta</th>
                            <th scope="col">Precio de compra</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-justify">
                            <%contador = 0%>
                            <% @products.each do |product|%>
                            <% contador = contador+1%>
                            <tr>
                                <th scope="row"><%= contador %></th>
                                <td><%= link_to product.name, product%></td>
                                <td>Q.<%= product.sale_price %></td>
                                <td>Q.<%= product.cost_price %></td>
                                <td><%= product.state %></td>
                            </tr>
                            <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
